.modify-table {
	border-collapse: separate;
	border-spacing: 0 12px;
	border-radius: 10px;
	width: 500px;
	margin: auto;
	padding: 5px;
	font-size: 14px;
}

h1 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 5px;
}

input {
	border-radius: 10px;
	border: 2px solid #2368B7;
}

input:focus {
	outline: none;
	border: 3px solid #2368B7;
}

button {
  font-size: 13px;
  color: #fff;
  background-color: #2368B7;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

button:hover {
	outline: none;
	font-weight: 500;
}

button:focus {
	outline: none;
	font-weight: 500;
}

.button-group a {
	text-decoration: none;
	border-radius: 10px;
	background-color: #2368B7;
	padding: 4px;
	font-size: 13px;
	color: #fff;
}

.button-group a:hover {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}

.button-group a:focus {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}